*{
    -webkit-user-select: none; /* Para navegadores baseados em WebKit */
    -moz-user-select: none; /* Para navegadores baseados em Gecko (Firefox) */
    -ms-user-select: none; /* Para navegadores baseados em Trident (Internet Explorer) */
    user-select: none; /* Padrão */
}

.gridTemplate {
    grid-template-columns: 1fr 1fr;
}

.w-50 {width: 50% !important;}
.w-15 {width: 15% !important;}
.w-20 {width: 20% !important;}

.compra{
    transition: 500ms;
    width: 90%;
    border: 2px dashed transparent;
}

.compra:hover{
    cursor: pointer;
    transform: translateX(10px);
    border-bottom: 2px dashed rgba(0, 0, 0, 0.3);
}