.w-12{
    width: 12% !important;
}

.w-20{
    width: 20% !important;
}

.w-35{
    width: 35% !important;
}

.w-65{
    width: 65% !important;
}

.boxAdcs{
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr;
}

.boxInfos{
    display: flex;
    position: absolute;
    z-index:-1;
    opacity: 0;
    transition: 300ms;
}

.boxDescr:hover{
    .boxInfos{
        z-index: 3;
        opacity: 1;
        transform: scale(1.1);
    }
}
