.burgers {
    width: 25% !important;
    opacity: .6 !important;
}

.adcs {
    opacity: .6 !important;
}

.labelPonto{
    opacity: .6 !important;
}

.labelHorario{
    opacity: .6 !important;
}

.active {
    opacity: 1 !important;
}

.w-90{
    width: 90% !important;
}

.w-30{
    width: 30% !important;
}

.w-35{
    width: 35% !important;
}

.w-8{
    width: 12% !important;
}

.w-18{
    width: 18% !important;
}

.h-70{
    height: 70% !important;
}

.opacity-5{
    opacity: 0.5;
}

.opacity-10{
    opacity: 1;
}

.h-30{
    height: 30% !important;    
}

.h-16{
    height: 16% !important;
}

.h-20{
    height: 20% !important;
}

.h-64{
    height: 64% !important;
}

.h-90{
    height: 90% !important;
}

.fs-8 {
    font-size: .8em;
}

.fs-10{
    font-size: .7em;
}

.carrinho{
    min-height: 53%;
}

.caixaResumoCompra{
    height: inherit;
}

.caixaFormPedido{
    height: max-content;
}

.inputAdicionais::-webkit-inner-spin-button,
.inputAdicionais::-webkit-outer-spin-button,
.inputQtd::-webkit-inner-spin-button,
.inputQtd::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}